body{
background-color:white;
position:center;
background-position: center;
}	
.calculator_box{
height:235px;
width:185px;
border-radius:15px;
background-color:black;
position: center;
background-position: center;
padding:25px;

}
.display{
background-color:black;
width:200px;
position:center;
padding: 2px;

}
.display input
{
position:center;
color:black;
background-position: center;
}
.key
{
	width:40px;
	height:30px;
	border-radius:8px;
	float:auto;
	background-position: center;
}
td
{
	border-radius:50%; 
	color: black;
	float: auto;
	background-position: center;
}
.buttony
{
	background-color:yellow;
	border-radius: 50%;
	float: center;
	background-position: center;
}
.buttonb
{
color:white;
background-color:black;
border-radius: 50%;
float:auto;

}
.buttonbr{
	border-radius:40%;
	background-color:tan;
	float:auto;
	
}
.buttongr{
	border-radius: 50%;
	background-color:green;
	float: center;
	background-position: center;
}
.buttonon{
	border-radius: 50%;
	background-color: green;
	float: center;
	font-size: 15px;
}
.buttonoff{
	border-radius: 50%;
	font-size: 15px;
	background-color: red;
	
}